.leva__row--button {
  grid-template-columns: none;
  column-gap: none;
}

.leva__input--button {
  color: var(--leva-colors-highlight3);
  background-color: var(--leva-colors-accent2);
  cursor: pointer;
}

.leva__input--button:hover {
  box-shadow: inset 0 0 0 var(--leva-borderWidths-hover)
    var(--leva-colors-accent3);
}

.leva__input--button.disabled {
  display: block;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
  appearance: none;
  font-weight: var(--leva-fontWeights-button);
  height: var(--leva-sizes-rowHeight);
  border-radius: var(--leva-radii-sm);
  background-color: var(--leva-colors-elevation1);
  color: var(--leva-colors-highlight1);
  cursor: auto;
}

.leva__input--button.disabled:hover {
  box-shadow: none;
}
