.leva__input--select {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  color: black;
}

.leva__input--title {
  display: flex;
  align-items: center;
  width: 100%;
  height: var(--leva-sizes-rowHeight);
  background-color: var(--leva-colors-elevation3);
  border-radius: var(--leva-radii-sm);
  padding: 0 var(--leva-space-sm);
  cursor: pointer;
}

.leva__control--select-parent:hover,
.leva__control--select-parent:focus-within {
  box-shadow: none;
}

.leva__control--select-parent svg {
  position: absolute;
  top: 50%;
  right: var(--leva-space-md);
  fill: currentcolor;
  pointer-events: none;
  transform: scale(0.8) translateY(-50%);
}
